  <nb-layout>
    <nb-layout-column>
      <nb-layout>
          <nb-layout-header fixed>
              <a href="/" class="btn btn-default">TIC TAC TOE</a>
          </nb-layout-header>
          <nb-layout-column>
            <app-board></app-board>
            <router-outlet></router-outlet>
          </nb-layout-column>
      </nb-layout>
    </nb-layout-column>
    <nb-layout-footer fixed>
        <p><a class="btn btn-default" href='https://cpmaurya.github.io/'>&copy; CPMaurya</a></p>
    </nb-layout-footer>
  </nb-layout>

